<%- include partials/header.ejs %> 

<%- include partials/main_nav.ejs %> 


  <main>
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-4"><%= title %></h1>
      </div>
    </div>

    <div class="container">
      

      <div class="card mb-3 w-100" >
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="/Assets/images/profile.jpeg" class="card-img" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h1>Short Bio</h1>
              <p class="card-text mb-5">Hi, My name is Umasangar. I was born and raised in canada. I am taking software in Centennial College. My hobbies are working out and playing basketball.  My future goals to have a family and make average money to support my family. 
</p>
     
              <h2 class="mb-3">Things I Like:</h2>
              <ul class="list-group list-group-horizontal">
                <li class="list-group-item">My Family</li>
                <li class="list-group-item">Exercise</li>
                <li class="list-group-item">Food</li>
              </ul>

              <a href="/Assets/cv.pdf" class="btn btn-primary btn-lg mt-3">Link to Resume</a>
            </div>
          </div>
        </div>
      </div>
    
    </div>

    

  </main>

<%- include partials/bottom_nav.ejs %>           

<%- include partials/footer.ejs %>    