<%- include partials/header.ejs %> 

<%- include partials/main_nav.ejs %> 
 
  <main>
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-4"><%= title %></h1>
        <p class="lead">Welcome to the <%= title %> Page</p>

        <div class="my-5">
          <h2>I am Umasangar!</h2>
          <p>
            Hi, My name is Umasangar. I was born and raised in canada. I am taking software in Centennial College. My hobbies are working out and playing basketball.  My future goals to have a family and make average money to support my family. 
          </p>

        </div>

        <div class="my-5">
          <h2>Mission Statement</h2>
          <p>Work hard at what i do and see success.</p> 
         </div>

        <a href="/about" class="btn btn-primary btn-lg mx-auto w-25 d-block">About</a>

      </div>
    </div>
  </main>

<%- include partials/bottom_nav.ejs %>           

<%- include partials/footer.ejs %>    